.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 5px 5px 8px #888888;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
}
.hoverImage {
  background: rgb(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
}
.hoverContent {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}
.dropdown {
  width: 170px;
}
